<div>
    <u>
        <li><a href="">Livros</a></li>
        <li><a href="">Cadastrar</a></li>
    </u>
</div>

<div>
    <h1></h1>
    <p></p>

    <h4></h4>
    <p>Preço:</p>
    <p>Quantidade estoque</p>

    <a href="">Voltar</a>
</div>

<p>Rodape</p>